@import './normalize&reset.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
	padding: 20px 0;
	text-align: center;
}


.slider {	
	display: flex;
	transition: transform 0.5s ease;
  transform: translateX(0);
	&-wrapper {
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 600px;
		margin: auto;
	}
	img {
		width: 100%;
		min-width: 100%; /* Ensures all images take up 100% of the slider width */
  	flex-shrink: 0;
	}
}

.animate-next {
	transform: translateX(-100%);
}

.animate-prev {
	transform: translateX(100%);
}
button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
	z-index: 100;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}


